*{
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

body{
    margin:0;
    background-color: #191717;
    opacity: 0; 
    transition: opacity 0.7s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

p{
    color:#EFEFED;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

@media (max-width: 1200px) {
    p{
        font-size: 12px;
        line-height: 18px;
    }
} 

@media (max-width: 768px) {
    p{
        font-size: 10px;
        line-height: 14px;
    }
} 

h3{
    color:#EFEFED;
    font-size: 24px;
    text-align: center;
    font-style: normal;
}


.navbar{
    margin-bottom:3.5%;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1200px) {
    .navbar {
        margin-bottom:0;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin-bottom:0;
    }
}

.navbar ul{
    list-style-type: none;
    font-size: 26px;
    overflow:hidden;
}

@media (max-width: 1200px) {
    .navbar ul {
        font-size: 20px; /* smaller laptop */
    }
}

@media (max-width: 768px) {
    .navbar ul {
        font-size: 16px; /* mobile */
    }
}

.navbar a{
    color:#EFEFED;
    text-decoration: none;
    margin-top:5px;
    padding-right:60px;
    padding-left:5px;
    display:block;
    text-align:left;
    transition: transform .2s;
} 

@media (max-width: 1200px) {
    .navbar a {
        padding-right:40px;
        padding-left:0;
    }
}

@media (max-width: 768px) {
    .navbar a {
        padding-right:20px;
        padding-left:0;
    }
}

.navbar a:hover{
    transform: scale(1.08);
}

.navbar li{
    float:left;
}


.container{
    background:#191717;
    height:100%;
    display:flex;
    justify-content:flex-start;
    
    gap:3%;
    padding:5px;
    margin-left:3.2%;
    margin-right:3.2%;
    margin-bottom:1%;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
}

.paragraph{
    background:#191717;
    color:#EFEFED;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 24px;
    text-align: left;
    height:100%;
    display:flex;
    margin-top:2.5%;
    margin-left:2.5%;
    margin-right:6%;
}

@media (max-width: 1200px) {
    .paragraph{
        font-size: 15px;
        line-height: 16px;
        margin-top:1.5%;
        margin-left:1.5%;
        margin-right:4%;
    }
} 

@media (max-width: 768px) {
    .paragraph{
        font-size: 16px;
        line-height: 17px;
        margin-top:4%;
        margin-left:10%;
        margin-right:9%;
    }
} 

.photo {
    max-width: 50%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .photo{
        max-width: 80%;
        margin-left:auto;
        margin-right:auto;
    }
} 

.resume{
    margin-top:3%;
}

.resume a{
    color:#EFEFED;
    font-size: 24px;
    text-decoration: none;
    text-align:center;
}

@media (max-width: 1200px) {
    .resume a{
        font-size: 20px;
    }
} 

@media (max-width: 768px) {
    .resume a{
        font-size: 18px;
    }
} 
