*{
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

body{
    margin:0;
    background-color: #191717;
    opacity: 0; 
    transition: opacity 0.7s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

p{
    color:#EFEFED;
    font-size: 16px;
    text-align: center;
}

h3{
    color:#EFEFED;
    font-size: 24px;
    text-align: center;
    font-style: normal;
}

.navbar ul{
    list-style-type: none;
    font-size: 28px;
    overflow:hidden;
}

@media (max-width: 1200px) {
    .navbar ul {
        font-size: 20px; /* smaller laptop */
    }
}

@media (max-width: 768px) {
    .navbar ul {
        font-size: 14px; /* mobile */
    }
}

.navbar a{
    color:#EFEFED;
    text-decoration: none;
    margin-top:5px;
    padding-right:60px;
    padding-left:5px;
    display:block;
    text-align:left;
    transition: transform .2s;
} 

.navbar a:hover{
    transform: scale(1.08);
}

.navbar li{
    float:left;
}


.container1{
    background:#191717;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:20px;
    padding:5px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:10px;
}

.project-image{
    /* background:#ffffff; */
    width: 50%;
    height:auto;
    padding:0px;
    margin: 0px;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    
    justify-content:center;
    align-items:center;
} 

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.project-image:hover{
    transform: scale(1.04);
}
