*{
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

body{
    margin:0;
    background-color: #191717;
    opacity: 0; 
    transition: opacity 0.7s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

p{
    color:#EFEFED;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

@media (max-width: 1200px) {
    p{
        font-size: 12px;
        line-height: 18px;
    }
} 

@media (max-width: 768px) {
    p{
        font-size: 10px;
        line-height: 14px;
    }
} 

h3{
    color:#EFEFED;
    font-size: 24px;
    text-align: center;
    font-style: normal;
}

.navbar{
    margin-bottom:3.5%;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1200px) {
    .navbar {
        margin-bottom:0;
    }
}

@media (max-width: 768px) {
    .navbar {
        margin-bottom:0;
    }
}

.navbar ul{
    list-style-type: none;
    font-size: 26px;
    overflow:hidden;
}

@media (max-width: 1200px) {
    .navbar ul {
        font-size: 20px; /* smaller laptop */
    }
}

@media (max-width: 768px) {
    .navbar ul {
        font-size: 16px; /* mobile */
    }
}

.navbar a{
    color:#EFEFED;
    text-decoration: none;
    margin-top:5px;
    padding-right:60px;
    padding-left:5px;
    display:block;
    text-align:left;
    transition: transform .2s;
} 

@media (max-width: 1200px) {
    .navbar a {
        padding-right:40px;
        padding-left:0;
    }
}

@media (max-width: 768px) {
    .navbar a {
        padding-right:20px;
        padding-left:0;
    }
}

.navbar a:hover{
    transform: scale(1.08);
}

.navbar li{
    float:left;
}

/* .big-container{
    display:flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .big-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}  */


.container1{
    background:#191717;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:2%;
    padding:5px;
    margin-left:3.2%;
    margin-right:3.2%;
    margin-bottom:1%;
}

@media (max-width: 1200px) {
    .container1{
        margin-bottom:.5%;
    }
} 

@media (max-width: 768px) {
    .container1{
        margin-bottom:0;
        padding:0;
        flex-wrap: wrap;
    }
} 

.project-image{
    /* background:#ffffff; */
    width: 50%;
    height:auto;
    padding:0px;
    margin: 0px;
    overflow:hidden;
    display:flex;
    flex-direction: row;
    
    justify-content:center;
    align-items:center;
} 

@media (max-width: 768px) {
    .project-image{
        width:90%;
        height:auto;
        padding-bottom:2%;
        margin-left:5%;
        margin-right:5%;
    }
} 

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.project-image:hover{
    transform: scale(1.015);
}
