*{
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #191717;
    opacity:0;
    transition: opacity 0.7s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

img{
    width:100vw;
    margin:0;
    margin-top:-4px;
    padding:0;
    
}