*{
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

img{
    width:100vw;
    margin:0;
    margin-top:-4px;
    padding:0;
    
}