*{
    box-sizing:border-box;
}

img{
    max-width: 100%;
}

body{
    margin:0;
    background-color: #191717;
    overflow:hidden;
    opacity: 0; /* Start invisible */
    transition: opacity 0.7s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

.leahmoz-gif{
    width:100vh;
    line-height: 0;
    
}

a{
    color:#EFEFED;
    text-decoration: none;
}

.portfolio-link{
    color:#EFEFED;
    text-align: center;
    font-size: 150%;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    margin-top:10px;
    margin-bottom:15px;
}

